<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
    <p>
      This computer-based study program was developed to assist individuals in preparation for their pre-licensing education training for Pennsylvania's Property and Casualty Producer Examination.  It is the companion software of the study manual.  Essentials of Property and Casualty Insurance.
    </p>
    <a href="/#!/signin" class="btn-primary btn-lg" data-ng-hide="authentication.user">Sign In!</a>
    <a href="/#!/dashboard" class="btn-primary btn-lg" data-ng-hide="!authentication.user">Get Started!</a>
	</div>
	<div class="row">
		<div class="container text-center">
	    <p>
	    It is recommended that you review your study manual in depth prior to using EXAM MASTER Interactive.
	    </p>
	    <p>
	      A complete overview including an audio summary of this Pre-Licensing Education Course is found in the introduction.
	    </p>
	    <p>
	      The Study Materials page a collection of sections for studying and previewing all relevant materials.  It includes a Chapter Preview section, which contains over 450 slides.  The Chapter Review feature includes open-ended questions that you should be able to answer after studying a chapter module.  The Flash Cards section features over 500 key terms and concepts in a flash card format.  This will help students learn new terms and concepts.
	    </p>
	  </div>
	</div>
	<div class="well text-center">
		<p>Copyright &#169; 2015 Magellan Group</p>
	</div>
</section>
