<section data-ng-controller="PracticeExaminationChapterController">
  <div class="btn-group">
    <label class="btn btn-primary" ng-model="testMode" btn-radio="'practice'">Practice</label>
    <label class="btn btn-primary" ng-model="testMode" btn-radio="'test'">Test</label>
  </div>
  <div class="col-md-12 practice-examination-pane">
    <div class="practice-examination-chapter-title text-center">Chapter {{chapter}} Questions</div>
    <div class="practice-examination-question col-md-12 text-center">
      {{questions[index].content}}
    </div>
    <div class="practice-examination-answers col-md-12">
      <div class="radio text-left" ng-repeat="answer in questions[index].responses">
        <label><input type="radio" name="practice-exam-answer" ng-click="checkAnswer(questions[index].answer, $index)" />{{answer.content}}</label>
      </div>
    </div>
    <div class="practice-examination-justification col-md-12" ng-show="displayExplanation">
      {{questions[index].explanation}}
    </div>
    <div class="practice-examination-navigation col-md-12 text-center">
      <button ng-click="prevQuestion()">Previous</button>
      <button ng-click="nextQuestion()">Next</button>
    </div>
    <div class="col-md-12 text-center" style="margin-bottom: 40px;">
      <h3>{{correct}} questions of {{questions.length}} answered correctly...</h3>
    </div>
    <div class="col-md-12 text-center">
      <a href="/#!/introduction" class="btn-primary btn-lg">Back to Introduction</a>
    </div>
  </div>
</section>
