<section data-ng-controller="PracticeExaminationChaptersController">
	<div class="col-md-12 practice-examination-chapter-main text-center">
    <div style="margin: 0 auto;">
      <div class="col-md-6 practice-examination-chapter-left">
        <a href="/#!/practice-examination-chapter/1" class="btn btn-primary">Chapter 1 - Insurance Regulations</a>
        <a href="/#!/practice-examination-chapter/2" class="btn btn-primary">Chapter 2 - General Insurance</a>
        <a href="/#!/practice-examination-chapter/3" class="btn btn-primary">Chapter 3 - PC Insurance Basics</a>
        <a href="/#!/practice-examination-chapter/4" class="btn btn-primary">Chapter 4 - Dwelling Policy</a>
        <a href="/#!/practice-examination-chapter/5" class="btn btn-primary">Chapter 5 - Homeowners Policy</a>
      </div>
      <div class="col-md-6 practice-examination-chapter-right">
        <a href="/#!/practice-examination-chapter/6" class="btn btn-primary">Chapter 6 - Auto Insurance</a>
        <a href="/#!/practice-examination-chapter/7" class="btn btn-primary">Chapter 7 - Commercial Package Policy</a>
        <a href="/#!/practice-examination-chapter/8" class="btn btn-primary">Chapter 8 - Business Owners Policy</a>
        <a href="/#!/practice-examination-chapter/9" class="btn btn-primary">Chapter 9 - Workers Compensation</a>
        <a href="/#!/practice-examination-chapter/10" class="btn btn-primary">Chapter 10 - Other Coverages and Options</a>
      </div>
    </div>
  </div>
</section>
