.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

/* Introduction Page */
.btn-primary {
  width: 240px;
}

/* Information Page */
div.introduction-information-pane {
  margin-top: 40px;
}

ul.information-content-list {
  list-style-type: none;
}

input.information-content {
  width: 100%;
  height: 120px;
}

div.information-content-footer {
  margin-top: 40px;
}

/* Practice Examination Page */
div.practice-examination-pane {
  margin-top: 20px;
}